
<div class="searchbar">
  <%= form_tag plants_path, :method => 'get' do %>
    <div class="search_container">
      <%= text_field_tag :search, params[:search], :placeholder => "Buscar..." %>
      <%= submit_tag "", :name => nil %>
    </div>
  <% end %>      
</div>


<div class="content search_space">
  
  <h1>Plantas</h1>


  <% @plants.each do |plant| %>
    <div class="plant_container">
      <div class="img_container">
        <div class="image_div" style="background-image: url('<%= plant.avatar.url(:medium) %>');"> </div>
      </div>
      <div class="info">
        <h2><%= plant.name %> </h2>
        <p><%= plant.desc %></p>
        <%= link_to 'Ver', plant, :class => "show" %>
      </div>
    </div>
    <hr>
  <% end %>
  <%= will_paginate @plants %>

  <% if !current_user.nil? && current_user.isadmin %>
    <%= link_to 'Agregar Planta', new_plant_path, :class => "add" %>
  <% end %>
</div>